modules = ["nodejs-20"]
[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 12096037
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx next dev --port 5000 --hostname 0.0.0.0"

[[ports]]
localPort = 9002
externalPort = 80
